<html>

<head>
  <title>Pipopipette</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/5.3.3/pixi.min.js" integrity="sha512-J7UHpLx39bpqtP+aWP6yIuXroFk0XPkDQaS9zDthM4TVeaXstWYh556gxsXwwIwpAPSoKqVHW+eqz3B93SpyKg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.0.5/redux.min.js" integrity="sha512-P36ourTueX/PrXrD4Auc1kVLoTE7bkWrIrkaM0IG2X3Fd90LFgTRogpZzNBssay0XOXhrIgudf4wFeftdsPDiQ==" crossorigin="anonymous"></script>
  <style>
    body {
      margin:0
    }
    .pixi-container{
      height: 100%
    }
  </style>
</head>

<body>
  <div id="pixi-container" class="pixi-container"></div>
  <script>

    // Redux reducers / actions
    const PLAYER_JOINED = 'PLAYER_JOINED';

    function players(state = {}, action) {
      switch(action.type) {
        case PLAYER_JOINED:
          player = {}
          player[action.player.id] = action.player
          return {...state, ...player}
        default:
          return state
      }
    }

    const ADD_MOVE = 'ADD_MOVE';
    function moves(state = [], action) {
      switch(action.type) {
        case ADD_MOVE:
          return [...state, action.move]
        default:
          return state
      }
    }

    const reducer = Redux.combineReducers({players, moves})
   
    const store = Redux.createStore(reducer)

    // Action creators
    function PlayerJoined(player) {
      return {
        type: PLAYER_JOINED,
        player
      }
    }

    function AddMove(move) {
      return {
        type: ADD_MOVE,
        move
      }
    }

    // State data
    function Player(id, name, color) {
      return { id, name, color }
    }
    function Move(playerId, segment, cell) {
      return { playerId, segment, cell }
    }
    function Segment(x1, y1, x2, y2) {
      return { x1, y1, x2, y2 }
    }
    function Cell(x, y) {
      return {x,y}
    }

    // Pixi app subscribes to Redux store updates.
    store.subscribe(() => {
      const curr = store.getState()
      let cells = curr.moves.filter((m) => m.cell).map((move) => {
        let color = curr.players[move.playerId].color
        return GridCell(move.cell.x, move.cell.y, color)
      })
      let segments = curr.moves.map((move) => {
        let color = curr.players[move.playerId].color
        return GridSegment(move.segment, color)
      })
      grid.setCells(cells)
      grid.setSegments(segments)
    });
    
    // Pixi App
    const app = new PIXI.Application({
      autoResize: true,
      antialias: true,
      resolution: devicePixelRatio,
    })

    document.querySelector("#pixi-container").appendChild(app.view);

    window.addEventListener('resize', resize);

    // Layout data
    function GridSegment(segment, color) {
      return {segment, color}
    }

    function GridCell(x, y, color) {
      return {x, y, color}
    }
    
    // Root PIXI container
    class Grid extends PIXI.Container {
      constructor(n, debug) {
        super();

        this.n = n;
        this.measures = {};
        this.interactive = true;
        this.highlightedSegment = null;
        this.segments = [];
        this.cells = [];
        this.g = new PIXI.Graphics();

        this.addChild(this.g);
        this.on('pointermove', this.onPointermove)

        if (debug) {
          this.gridBound = new PIXI.Graphics();
          this.addChild(this.gridBound);
        }
      }

      setSegments(segments) {
        this.segments = segments;
      }

      setCells(cells) {
        this.cells = cells;
      }

      onPointermove(event) {
        const mx = event.data.originalEvent.layerX;
        const my = event.data.originalEvent.layerY;
        this.mouse = {x: mx - this.g.x, y: my - this.g.y}
      }

      onResize(w, h) {
        const pad = 50;
        const sq = Math.min(w, h) - pad;
        const xOff = Math.max(w - sq, 0)/2;
        const yOff = Math.max(h - sq, 0)/2;

        this.g.x = sq/2 + xOff;
        this.g.y = sq/2 + yOff;

        const gridWidth = sq / (this.n-1);
        const radius = gridWidth * 0.08;
        const segmentThickness = gridWidth*0.12;
        
        const dMin = -sq/2 + radius
        const dMax = dMin + sq - 2*radius;

        const step = (dMax-dMin) / (this.n-1);
        
        // save grid parameters
        this.measures = {sq, xOff, yOff, radius, segmentThickness, dMin, dMax, step};

        this.onRender();
      }

      onRender() {
        this.updateHighlightedSegment();

        this.g.clear();
        this.drawCells();
        this.drawHighlightedSegment();
        this.drawSegments();
        this.drawDots();
        this.drawBounds();
      }

      updateHighlightedSegment() {
        if (this.mouse){
          const {x: gx, y: gy} = this.toGrid(this.mouse)
          const ix = Math.floor(gx)
          const iy = Math.floor(gy)
          const rx = gx - ix
          const ry = gy - iy
          let x1,y1,x2,y2
          if (rx < ry && ry > 1 - rx) {          // bottom edge
            x1 = ix
            y1 = iy + 1
            x2 = ix + 1
            y2 = iy + 1
          } else if (rx < ry && ry <= 1 - rx) {  // left edge
            x1 = ix
            y1 = iy
            x2 = ix
            y2 = iy + 1
          } else if (rx >= ry && ry > 1 - rx) {  // right edge
            x1 = ix + 1
            y1 = iy
            x2 = ix + 1
            y2 = iy + 1
          } else if (rx >= ry && ry <= 1 - rx) { // top edge
            x1 = ix 
            y1 = iy
            x2 = ix + 1
            y2 = iy
          }
          x1 = clamp(x1, 0, this.n-1)
          y1 = clamp(y1, 0, this.n-1)
          x2 = clamp(x2, 0, this.n-1)
          y2 = clamp(y2, 0, this.n-1)

          const yOob = iy < 0 || this.n-1 <= iy
          const xOob = ix < 0 || this.n-1 <= ix
          if (yOob && x2 < this.n-1) {
            x2 = x1+1
          } 
          if (xOob && y2 < this.n-1) {
            y2 = y1+1
          }
          if (xOob && yOob) {
            this.highlightedSegment = undefined
            return  
          }

          this.highlightedSegment = Segment(x1, y1, x2, y2)
        }
      }

      drawCells() {
        this.cells.forEach((cell) => {
          this.drawCell(cell.x, cell.y, cell.color)
        })
      }

      drawSegments() {
        this.segments.forEach((s) => {
          this.drawSegment(s.segment, s.color)
        })
      }

      drawHighlightedSegment() {
        if (this.highlightedSegment){
          const {dMin, step} = this.measures;

          this.drawSegment(this.highlightedSegment, 0xFFFFFF)
        }
      }

      drawCell(x, y, color) {
        const {dMin, step} = this.measures;
        x = dMin + step*x;
        y = dMin + step*y;
        this.g.beginFill(color);
        this.g.drawRect(x,y, step, step);
        this.g.endFill();
      }

      drawSegment({x1,y1,x2,y2}, color) {
        const {dMin, step, segmentThickness} = this.measures;
        x1 = dMin + step * x1
        y1 = dMin + step * y1
        x2 = dMin + step * x2
        y2 = dMin + step * y2
        this.g.lineStyle(segmentThickness, color, 1)
        this.g.moveTo(x1,y1)
        this.g.lineTo(x2,y2)
      }

      drawDots() {
        const {dMin, step, radius} = this.measures;
        for (let i = 0; i < this.n; i++) {
          for (let j = 0; j < this.n; j++) {
            let x = dMin + i*step;
            let y = dMin + j*step;
            this.g.beginFill(0xFFFFFF);
            this.g.lineStyle(0, 0xFFFFFF, 0);
            this.g.drawCircle(x,y,radius);
            this.g.endFill()
          }
        }
      }

      drawBounds() {
        if (this.gridBound) {
          const {sq, xOff, yOff} = this.measures;
          this.gridBound.clear()
          this.gridBound.lineStyle(1, 0x00ff00, 1);
          this.gridBound.drawRect(-sq/2, -sq/2, sq, sq);
          
          this.gridBound.x = sq/2 + xOff
          this.gridBound.y = sq/2 + yOff

          this.gridBound.beginFill(0xFFFFFF);
          this.gridBound.drawCircle(0, 0, 1);
        }
      }

      toGrid({x, y}) {
        const {dMin, step} = this.measures;
        return {x: (x - dMin) / step, y: (y - dMin) / step}
      }
    }

    grid = new Grid(15);
    app.stage.addChild(grid);

    function resize() {
      const parent = app.view.parentNode;
      app.renderer.resize(parent.clientWidth, parent.clientHeight);
      grid.onResize(app.screen.width, app.screen.height);
    }
    resize()

    app.ticker.add(delta => {
      grid.onRender()
    });

    function clamp(x, lower, upper) {
      if (x == NaN || lower == NaN || upper == NaN) {
        return NaN
      }
      return Math.min(Math.max(x, lower), upper)
    }

  </script>
</body>

</html>